<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SneakerCity">
        <activity
            android:name="app.ejemplo.sneakercity.Activities.InvoiceAddressActivity"
            android:exported="false" />
        <activity
            android:name="app.ejemplo.sneakercity.Activities.UserActivity"
            android:exported="false" />
        <activity
            android:name="app.ejemplo.sneakercity.Activities.CardActivity"
            android:exported="false" />
        <activity
            android:name="app.ejemplo.sneakercity.Activities.UserAddressActivity"
            android:exported="false" />
        <activity
            android:name="app.ejemplo.sneakercity.Activities.InvoiceActivity"
            android:exported="false" />
        <activity
            android:name="app.ejemplo.sneakercity.Activities.WayPayActivity"
            android:exported="false" />
        <activity
            android:name="app.ejemplo.sneakercity.Activities.PaymentShippingActivity"
            android:exported="false" />
        <activity
            android:name="app.ejemplo.sneakercity.Activities.DetailActivity"
            android:exported="false" />
        <activity
            android:name="app.ejemplo.sneakercity.Activities.CartActivity"
            android:exported="false" />
        <activity
            android:name="app.ejemplo.sneakercity.Activities.HomeActivity"
            android:exported="false" />
        <activity
            android:name="app.ejemplo.sneakercity.Activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="app.ejemplo.sneakercity.Activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>